
@{
	ViewData["Title"] = "Recipe";
}

<div class="container-fluid">
	@*<div class="row mb-4">
		<div class="col-12">
			
		</div>
	</div>*@
	<div class="row">
		<div class="col-3">
			<div class="shadow rounded">
				<div class="border-bottom border-2 p-1">
					<h4 class="text-success text-center fst-italic">Recipes</h4>
					@Html.Partial("_SearchBar")
					@Html.Partial("_SideMenu")
				</div>
			</div>
		</div>
		<div class="col-9">
			<div class="mb-3">
				<h4 class="text-dark">Pizza</h4>
				<div class="row" id="pizzaRecipe"></div>
			</div>
		</div>
	</div>
</div>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script type="text/javascript">
	$(document).ready(function (){
		GetRecipes("pizza", "pizzaRecipe", false);
	})
</script>